.Header {
  background: var(--thirdBgColor);
  width: 100%;
}

.Header__Main {
  margin-top: 1rem;
}

.Header span {
  color: var(--mainFontColor);
}

.Header h1,
.Header h2 {
  color: var(--thirdFontColor);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  transform: translateX(-600px);
  animation: up 0.5s linear forwards;
}

@keyframes up {
  100% {
    transform: translateX(0);
  }
}

.Header span {
  font-size: 2.5rem;
}

/* Large mobile / Tablet */
@media screen and (max-width: 900px) and (min-height: 698px) {

  .Header__Main h1,
  .Header h2 {
    padding: calc(1rem + 1.6vh);
    line-height: calc(2.5rem + 0.8vh);
  }

  .Header__Main h1 {
    font-size: calc(1.5rem + 0.8vh);
  }

  .Header h2 {
    font-size: calc(1.5rem + 2vh);
  }

  .Header span {
    font-size: calc(2.5rem + 0.8vh);
  }
}

/* Laptop */
@media screen and (min-width: 900px) and (min-height: 600px) {
  .Header {
    background: none;
    border-bottom: #E66B00 3px solid;
  }

  .Header__Main {
    margin-top: 120px;
    background: none;
    border: none;
  }

  .Header span {
    display: none;
  }

  .Header h1,
  .Header h2 {
    padding: 0 4rem;
    align-items: flex-start;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
    color: var(--mainFontColor);
  }

}

/* Desktop */
@media screen and (min-width: 1600px) and (min-height: 700px) {

  .Header h1,
  .Header h2 {
    padding: 0 6rem;
  }

  .Header h1 {
    font-size: 5.5rem;
  }

  .Header h2 {
    font-size: 5rem;
  }
}