.Home {
  width: 100%;
  color: var(--mainFontColor);
}

.Home p {
  padding: 1.5rem 2rem;
  opacity: 0;
  animation: fadeee 1s forwards;
}

@keyframes fadeee {
  100% {
    opacity: 1;
  }
}

.Home div {
  width: 100%;
  background: var(--mainFontColor);
}

.Home img {
  width: 100%;
}

/* Large mobile */
@media screen and (max-width: 900px) and (min-height: 698px) {
  .Home p {
    padding: calc(1.5rem + 2.5vh) 2rem;
    font-size: calc(0.9rem + 0.9vh);
  }
}

/* Desktop */
@media screen and (min-width: 900px) and (min-height: 400px) {
  .Home {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Home p {
    width: 50%;
    font-size: calc(2rem + 1vw);
    font-weight: 300;
  }

  .Home div {
    width: 50%;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
  }
}

/* Large Desktop */
@media screen and (min-width: 1400px) and (min-height: 400px) {
  .Home {
    padding-top: 3rem;
  }
}
